In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from matplotlib import pyplot as plt

In [3]:
df = pd.read_csv("trainingset.csv")

In [4]:
df.head(5)

,index,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Rawah,Neota,forest_cover_type
0,1,3198,1,6,504,85,3508,16,7,1,0,1
1,2,3437,5,10,865,169,3509,7,49,0,0,1
2,3,987,319,4,376,154,758,150,11,0,0,0
3,4,3009,133,7,339,81,3561,51,15,0,0,1
4,5,790,30,9,0,0,1503,18,0,0,0,1

In [5]:
y = df.forest_cover_type
X = df.drop('forest_cover_type', axis = 1)

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 3)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)

(749, 11) (749,)
(250, 11) (250,)

In [13]:
lm = linear_model.LogisticRegression(C = 100)
model = lm.fit(X_train, y_train)
pred=lm.predict(X_train)
predictions = lm.predict(X_test)

In [16]:
predictions[0:10]

array([1, 0, 1, 0, 0, 1, 1, 1, 0, 0], dtype=int64)

In [9]:
print(model.score(X_train, y_train))

0.7209612817089452

In [10]:
print(model.score(X_test, y_test))

0.716

In [35]:
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
z=f1_score(y_test, predictions)
a=accuracy_score(y_test, predictions)
print('For internal test dataset,\n Accuracy=' ,a)
print('F1 score=' ,z)

For internal test dataset,
 Accuracy= 0.716
F1 score= 0.6358974358974359

In [36]:
z=f1_score(y_train, pred)
a=accuracy_score(y_train, pred)
print('For training dataset,\n Accuracy=' ,a)
print('F1 score=' ,z)

For training dataset,
 Accuracy= 0.7209612817089452
F1 score= 0.6759689922480621